/* estilos del footer eneral */

footer {

    padding: 10px;
    color: #ececec;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}

/** footer responsive**/

@media (max-width: 480px) {}