.card-body {

    opacity: 0.6;
  

    &:hover {
        
        opacity: 1;
    }
}



.card-text {

    background-image: linear-gradient(to left, #c7aa09, #201a3f, #3498db, #062e16, #ff4800);
    color: transparent;
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;

    text-align: justify;
    padding: .3rem;

}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}